# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore confguration files.
.gitignore*
.htaccess*
.ftpquota
error_log
php.ini*

# Ignore files not related to Drupal.
sites/all/modules/smiley/packs/resize/custom/alert-40x40.gif
sites/all/slack_anon_shieldlock.php
